@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
    font-family: 'Roboto', sans-serif;
    scrollbar-width: thin;

    --track-color: rgba(160, 160, 160, 0.5);
    
    scrollbar-color: var(--track-color) transparent;
}


body {
    @apply bg-light dark:bg-dark w-screen h-screen items-center justify-center flex bg-cover bg-bottom;
}

a,
img,
button {
    user-select: none;
    text-decoration: none;
}

:root {
    --bg-dark: #1E1E1E55;
    --bg-object-dark: #292929;

    --bg: #f5f5f595;
    --bg-object: #f3f3f3;

    --primary: #0D92F4;

    --border: rgba(255,255,255,0.3);
    --border-dark: rgba(0,0,0,0.3);

    scrollbar-width: thin;
    background-color: var(--bg-full);
}

.scrollable {
    --track-color: rgba(160, 160, 160, 0.5);

    overflow-y: auto;
    scrollbar-color: var(--track-color) transparent;
}
.scrollable::-webkit-scrollbar-thumb:vertical {
    background-color: var(--track-color);
}